engine-strict=true
include-workspace-root=false
prefer-workspace-packages=true
auto-install-peers=false
registry=https://registry.npmjs.org/
lockfile-include-tarball-url=false
store-dir=/tmp/.pnpm-store
child-concurrency=2
network-concurrency=2
